@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(230deg, rgb(122, 35, 165) 0%, rgb(44, 180, 76) 100%);
}

.container {
    text-align: center;
}

.container h1 {
    font-family: 'Ubuntu Mono';
    font-size: 65PX;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 25px;
    background-color: #fff;
    opacity: 0.7;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.7;
    font-family: 'Ubuntu Mono';
    font-size: 25px;
}

input[type="text"] {
    border: none;
    font-size: 20px;
    width: 240px;
    padding: 8px;
    margin-right: 10px;
    border-radius: 10px;
}

button,
.remover,
.concluido {
    font-family: 'Ubuntu Mono';
    font-size: 25px;
    opacity: 1;
    padding: 9px;
    border-radius: 45px;
    cursor: pointer;
    width: auto;
    border: none;
    font-weight: bold;
}

.remover {
    background-color: red;
    font-size: 20px;
}

.concluido {
    background-color: greenyellow;
    font-size: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}

/* Adicionando consulta de mídia para telas menores que 600 pixels (celulares) */
@media only screen and (max-width: 600px) {
    .container h1 {
        font-size: 40px; /* Ajuste o tamanho da fonte conforme necessário para telas menores */
    }

    li,
    input[type="text"],
    button,
    .remover,
    .concluido {
        font-size: 16px; margin-top: 5px;/* Ajuste o tamanho da fonte conforme necessário para telas menores */
    }

   

    input[type="text"] {
        width: 80%; /* Ajuste a largura conforme necessário para telas menores */
    }
}
